# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.classpath
*.project
log/
temp/
bin/ext*
data/
roles/
**/jalo/**
trainingcore/gensrc


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
.idea
.metadata
gensrc/
**/jalo/**
/gensrc/
bin/custom/**/idea-module-files
bin/platform
.DS_Store
bin/custom/training/trainingbackoffice/.settings
bin/custom/training/trainingbackoffice/.externalToolBuilders
*.prefs

bin/platform
bin/custom/training/.idea/
bin/custom/training/.idea/runConfigurations/Remote_debug.xml
.scannerwork
