#infoText {
	width: 400px;
	position: absolute;
	left: 70px;
	top: 110px;

}

#infoText a {
	color: black;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	opacity: 0.5;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;		
}